# Common
NEXT_PUBLIC_API_URL=http://localhost:3015/api/v1
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# Ports
CUSTOMER_PORT=3013
MANAGEMENT_PORT=3014
BACKEND_PORT=3015

# Backend
DATABASE_URL=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALLBACK_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NODE_ENV=
API_VERSION=v1
CORS_ORIGIN_CUSTOMER=
CORS_ORIGIN_MANAGEMENT=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
THROTTLE_TTL=
THROTTLE_LIMIT=
REDIS_URL=
REDIS_TTL=
REDIS_MAX=
ANALYTICS_HASH_SECRET=
LOG_LEVEL=info
ADMIN_EMAIL=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=easy_fashion
