DATABASE_URL=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALLBACK_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PORT=3015
NODE_ENV=
API_VERSION=v1
CORS_ORIGIN_CUSTOMER=
CORS_ORIGIN_MANAGEMENT=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
THROTTLE_TTL=
THROTTLE_LIMIT=
REDIS_URL=
REDIS_TTL=
REDIS_MAX=
ANALYTICS_HASH_SECRET=
LOG_LEVEL=info
ADMIN_EMAIL=
